/* 
- Linear gradient (active input border): 
        hsl(249, 99%, 64%) to hsl(278, 94%, 30%)

- Red (input errors): hsl(0, 100%, 66%)

- White: hsl(0, 0%, 100%)
- Light grayish violet: hsl(270, 3%, 87%)
- Dark grayish violet: hsl(279, 6%, 55%)
- Very dark violet: hsl(278, 68%, 11%)

*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	--linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
	--red: hsl(0, 100%, 66%);
	--white: hsl(0, 0%, 100%);
	--ligth-grayish-violet: hsl(270, 3%, 87%);
	--dark-grayish-violet: hsl(279, 6%, 55%);
	--dark-violet: hsl(278, 68%, 11%);
}

body {
	background-image: url('./images/bg-main-mobile.png');
	background-repeat: no-repeat;
	background-position: top;
	background-color: white;
	background-size: contain;
	width: 100vw;
	height: 100vh;
	font-family: 'Space Grotesk';
	display: flex;
	flex-direction: column;
}

div {
	border: 1px solid red;
}

.cards {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-items: center;
	width: 100vw;
	height: 45vh;
}

.back-card {
	position: absolute;
	top: 1.5rem;
	height: 140px;
	width: 250px;
	z-index: -1;
}

.back-img img {
	transform: translateX(8%);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.back-img .cvc-text {
	position: absolute;
	right: 15px;
	top: 62px;
	color: white;
	font-size: 10px;
}
