/* 
- Linear gradient (active input border): 
        hsl(249, 99%, 64%) to hsl(278, 94%, 30%)

- Red (input errors): hsl(0, 100%, 66%)

- White: hsl(0, 0%, 100%)
- Light grayish violet: hsl(270, 3%, 87%)
- Dark grayish violet: hsl(279, 6%, 55%)
- Very dark violet: hsl(278, 68%, 11%)

*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	--linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
	--red: hsl(0, 100%, 66%);
	--white: hsl(0, 0%, 100%);
	--ligth-grayish-violet: hsl(270, 3%, 87%);
	--dark-grayish-violet: hsl(279, 6%, 55%);
	--dark-violet: hsl(278, 68%, 11%);
}

body {
	background-image: url('./images/bg-main-mobile.png');
	background-repeat: no-repeat;
	background-color: white;
	background-size: 100% 240px;
	width: 100vw;
	height: 100vh;
	font-family: 'Space Grotesk';
	display: flex;
	flex-direction: column;
}

.red_border {
	border: 2px solid red;
}

.cards {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-items: center;
	width: 100vw;
	height: 275px;
}

.back-card {
	position: absolute;
	top: 1.5rem;
	height: 140px;
	width: 250px;
	z-index: -1;
	border-radius: 6px;
}

.back-img img {
	transform: translateX(8%);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.back-img .cvc-text {
	position: absolute;
	right: 15px;
	top: 62px;
	color: white;
	font-size: 10px;
}

.front-card {
	position: absolute;
	top: 7.5rem;
	height: 140px;
	width: 250px;
	color: white;
	z-index: 1;
	transform: translateX(-2%);
	border-radius: 8px;
}

/* Card background */
.front-card .front-img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
}

/* Card logo */
.front-img .c-logo img {
	position: absolute;
	top: 1rem;
	left: 1rem;
	width: auto;
	height: 30px;
	object-fit: cover;
}

.front-img .c-name {
	position: absolute;
	font-size: 9px;
	bottom: 1rem;
	left: 1rem;
	z-index: 1;
}

.front-img .c-cvc {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	z-index: 1;
	font-size: 8px;
}

.front-img .c-number {
	position: absolute;
	bottom: 2.5rem;
	left: 1rem;
	z-index: 1;
	font-size: 15px;
	letter-spacing: 2px;
}

.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form {
	padding: 1rem;
	display: block;
	width: 320px;
}

/* Cardholder name input section */
.card-name {
	font-size: 11px;
	font-weight: 700;
	color: var(--dark-violet);
	letter-spacing: 1.5px;
}

input {
	width: 100%;
	margin: 0.2rem 0;
	padding: 0.5rem;
	border-radius: 6px;
	border-color: rgba(0, 0, 0, 0.15);
	border-width: 1px;
}
input::placeholder {
	font-family: 'Space Grotesk';
	font-weight: 500;
	font-size: 15px;
	color: rgba(0, 0, 0, 0.25);
}
input:valid {
	font-family: 'Space Grotesk';
	font-weight: 500;
}
input:focus {
	font-family: 'Space Grotesk';
	color: var(--dark-violet);
	font-weight: 700;
}
.cn {
	padding-bottom: 1rem;
}

/* Card number section */
.crd-number {
	padding-top: 1rem;
	font-size: 11px;
	font-weight: 700;
	color: var(--dark-violet);
	letter-spacing: 1.5px;
}
.cnn {
	padding-bottom: 1rem;
}

.lablees {
	width: 100%;
}

label {
	font-size: 11px;
	font-weight: 700;
}
.expdate {
	width: 50%;
	text-align: left;
	letter-spacing: 1.5px;
}
.l-cvc {
	width: 50%;
	text-align: center;
	padding-left: 1.5rem;
}
.mm {
	width: 20%;
	margin-right: 5px;
}
.yy {
	width: 20%;
}

.cvc {
	width: 50%;
	margin-left: 0.5rem;
}

.submit-btn {
	width: 100%;
	padding: 1rem;
	margin-top: 1rem;
	color: white;
	background-color: var(--dark-violet);
	font-family: 'Space Grotesk';
	font-weight: 500;
	border-radius: 8px;
	font-size: 15px;
}

.thankyou {
	padding-top: 1rem;
	width: 100%;
	height: auto;
	text-align: center;
}
.thankyou img {
	padding-bottom: 1.5rem;
	width: 80px;
}
.thankyou h2 {
	letter-spacing: 2px;
}

.thankyou p {
	padding-top: 1rem;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.55);
}

.contt {
	width: 100%;
	padding: 1rem;
	margin-top: 4rem;
	color: white;
	background-color: var(--dark-violet);
	font-family: 'Space Grotesk';
	font-weight: 500;
	border-radius: 8px;
	font-size: 15px;
}

.hidden {
	display: none;
}

@media (width >= 1550px) {
	body {
		width: 100vw;
		height: 100vh;
		background-image: url('./images/bg-main-desktop.png');
		background-repeat: no-repeat;
		background-color: white;
		background-size: 500px 100%;
		font-family: 'Space Grotesk';
		display: flex;
		flex-direction: row;
	}

	.cards {
		position: relative;
		width: 40vw;
		height: 100vh;
		display: flex;
		justify-content: center;
	}

	.front-card {
		position: absolute;
		top: 142px;
		left: 10rem;
		width: 450px;
		height: 250px;
		transform: translateX(0);
	}

	/* Card Logo  */
	.front-img .c-logo img {
		height: 50px;
		top: 30px;
		left: 30px;
	}

	.front-img .c-name {
		bottom: 30px;
		left: 30px;
		font-size: 15px;
		letter-spacing: 1.5px;
	}

	.front-img .c-cvc {
		bottom: 30px;
		right: 30px;
		font-size: 15px;
		letter-spacing: 1.5px;
	}

	.front-img .c-number {
		top: 135px;
		left: 30px;
		width: 390px;
		height: 30px;
		font-size: 25px;
	}

	.back-card {
		position: absolute;
		width: 450px;
		height: 250px;
		top: 426px;
		left: 15rem;
		box-shadow: 14px 10px 18px 0 rgba(0, 0, 0, 0.08);
	}

	.back-img img {
		transform: translateX(0);
	}

	.back-img .cvc-text {
		right: 3.5rem;
		top: 7rem;
		font-size: 15px;
		letter-spacing: 3px;
	}

	/*/////////////////////////////////////////////////////////////////  */

	.form-container {
		position: relative;
		width: 60vw;
		align-items: flex-start;
		padding-left: 5rem;
	}

	.form {
		position: absolute;
		top: 200px;
		width: 450px;
		display: flex;
		flex-direction: column;
	}

	.card-name {
		font-size: 13px;
		font-weight: 500;
	}

	input {
		padding: 0.8rem;
	}
	input:focus {
		font-size: 18px;
	}

	.crd-number {
		font-size: 13px;
		font-weight: 500;
	}

	label {
		font-size: 13px;
		font-weight: 500;
	}

	.lablees {
		width: 100%;
	}

	.l-cvc {
		padding-left: 2.75rem;
	}

	.cvc {
		width: 52%;
	}

	.cnn,
	.cn,
	.exp-label {
		padding-bottom: 30px;
	}

	.thankyou {
		padding-top: 1rem;
		width: 100%;
		height: auto;
		text-align: center;
	}
	.thankyou img {
		padding-bottom: 1.5rem;
		width: 80px;
	}
	.thankyou h2 {
		letter-spacing: 2px;
	}

	.thankyou p {
		padding-top: 1rem;
		font-weight: 500;
		color: rgba(0, 0, 0, 0.55);
	}

	.contt {
		width: 100%;
		padding: 1rem;
		margin-top: 4rem;
		color: white;
		background-color: var(--dark-violet);
		font-family: 'Space Grotesk';
		font-weight: 500;
		border-radius: 8px;
		font-size: 15px;
	}
}
